{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": {
                    "ie": 10
                }
            }
        ]
    ],
    "plugins": [
        // 解决多个地方使用相同代码导致打包重复的问题
        [
            "@babel/plugin-transform-runtime"
        ]
    ],
    "ignore": [
        "node_modules/**"
    ]
}